# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Local pubspec overrides
pubspec_overrides.yaml
